xml/BienFormado/ordenes-libros.dtd

<!-- Un ejemplo para comprobar como hacer un ejemplo de libros -->
<!ELEMENT ordenes-libros (cliente, tienda, bienes)*>
<!ELEMENT cliente (#PCDATA)>
<!ELEMENT tienda (#PCDATA)>
<!ELEMENT bienes (libros|revistas)*>
<!ELEMENT libros (nombre)*>
<!ELEMENT revistas (nombre)*>
<!ELEMENT nombre (#PCDATA)>
